.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 120px;
    align-items: center;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .feature-card {
    position: relative;
    background-color: #111;
    border-radius: 16px;
    padding:30px 24px;
    flex: 1 1 300px;
    /* max-width: 340px; */
    color: white;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    overflow: hidden;
    border: 1px solid #5CFFB1;
    border-top: 1.4px solid #fff;
    height: 350px;
  }
  
  .feature-card:hover {
    transform: translateY(-6px);
  }
  
  .feature-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 99.5%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #5CFFB1;
    border-top: none;
    pointer-events: none;
    opacity: 0.4;
  }
  
  .feature-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 16px;
  }
  
  .feature-title {
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .feature-description {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.5;
  }
  
  /* Fully responsive adjustments */
  @media (max-width: 1024px) {
    .feature-card {
      max-width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .features-section {
      flex-direction: column;
      align-items: center;
      padding: 20px 16px;
    }
  
    .feature-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  