.timeline-scroll-wrapper {
    position: sticky;
    top: 20%;
    height:60vh;
    overflow: hidden;
    border-radius: 20px;
    margin: 80px;
    z-index: 1;
    border: 1px solid #5CFFB1;
    border-top: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(57, 255, 136, 0.3);
    backdrop-filter: blur(10px);
  }
  .scroll-image{
    position: absolute;
  top: 20%;
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .thumbnails-track {
    display: flex;
    flex-direction: row;
    height: 40vh;
    align-items: center;
    padding: 0 200px;
    will-change: transform;
    position: relative;
    z-index: 2;
  }
  
  .timeline-svg {
    position: absolute;
    top: 74%;
    width: 118%;
    /* height: 100; */
    left: 20%;
    z-index: 1;
  }
  /* .vector-image{
    width: 450%;
  } */
  .vector-image2 {
    padding-bottom: 80px;
  }
  .vector-image4, .vector-image6{
    padding-bottom: 80px;
  }
  .thumbnails {
    display: flex;
    gap: 160px;
    align-items: center;
    position: relative;
    z-index: 2;
    align-items: flex-start;
    padding-top: 200px;
  }
  
  .timeline-card {

    border-radius: 16px;
    padding: 24px;
    width: 300px;

    z-index: 3;
  }

 
  
  .quarter {
    font-size: 26px;
    color: #39FF88;
    margin-bottom: 8px;
  }
  .thumbnails {
    display: flex;
    gap: 160px;
    align-items: center;
    scroll-snap-type: x mandatory;
  }
  
  .timeline-card {
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -52%);
    font-weight: 800;
    font-size: clamp(18px, 4vw, 48px);
    line-height: 1;
    color: #0b0b0b;       
    pointer-events: none;  
    z-index: 1;
  }
  
  .timeline-card1 {
    top: 75%;

  }
  .timeline-card2 {
    top: 19%;
 
  }
  .timeline-card3 {
    top: 75%;

  }
  .timeline-card4 {
    top: 23%;
 
  }
  .timeline-card5 {
    top: 75%;

  }
  .timeline-card6 {
    top: 23%;
 
  }
  .title {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
  }
  
  .desc {
    font-size: 11px;
    color: #ccc;
    line-height: 1.4;
    width: 150px;
  }
  
  /* .ghost-scroll {
    width: 100vw;
  } */

  .stage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vector-wrap {
    position: relative;
    display: inline-block;
  }
  
  .vector-image {
    display: block;
    height: auto;
  }
  @media (min-width: 1020px) and (max-width: 1190px) {
    .timeline-svg {
      top: 95%;
      width: 148%;
      left: 20%;
    }
    .timeline-scroll-wrapper { margin:48px; height:78vh; }
    .thumbnails-track { padding:0 120px; }
    .thumbnails { gap:120px; padding-top:260px; }
  
    .timeline-card { left:92%; transform:translate(-50%,-50%); font-size:clamp(18px,3vw,40px); }
  }
@media (min-width:1200px) and (max-width:1280px) {
  .timeline-scroll-wrapper { margin:48px; height:78vh; }
  .thumbnails-track { padding:0 120px; }
  .thumbnails { gap:120px; padding-top:260px; }
  .timeline-svg { top:92%; width:128%; left:17%; }
  .timeline-card { left:92%; transform:translate(-50%,-50%); font-size:clamp(18px,3vw,40px); }
}


@media (min-width:1290px) and (max-width:1439px) {
  .timeline-scroll-wrapper { margin:64px; height:75vh; }
  .thumbnails-track { padding:0 160px; }
  .thumbnails { gap:140px; padding-top:254px}
  .timeline-svg { top: 86%;
    width: 123%;
    left: 19%;}
  .timeline-card { left:94%; font-size:clamp(18px,3.2vw,44px); }
}

@media (min-width:1440px) and (max-width:1599px) {
  .timeline-scroll-wrapper { margin:72px; height:62vh; }
  .thumbnails-track { padding:0 180px; }
  .thumbnails { gap:160px; padding-top:200px; }
  .timeline-svg { top:74%; width:118%; left:18.7%; }
  .timeline-card { left:95%; font-size:clamp(18px,3.5vw,46px); }
}

@media (min-width:1600px) and (max-width:1819px) {
  .timeline-scroll-wrapper { margin:80px; height:64vh; }
  .thumbnails-track { padding:0 200px; }
  .thumbnails { gap:176px; padding-top:220px; }
  .timeline-svg { top: 73%;
    width: 113%;
    left: 18%; }
  .timeline-card { left:96%; font-size:clamp(18px,3.7vw,48px); }
}

@media (min-width:1819px) and (max-width:1919px) {
  .timeline-scroll-wrapper { margin:80px; height:64vh; }
  .thumbnails-track { padding:0 200px; }
  .thumbnails { gap:176px; padding-top:220px; }
  .timeline-svg { top: 73%;
    width: 102.5%;
    left: 16.5%; }
  .timeline-card { left:96%; font-size:clamp(18px,3.7vw,48px); }
}
@media (min-width:1920px) and (max-width:2559px) {
  .timeline-scroll-wrapper { margin:96px; height:66vh; }
  .thumbnails-track { padding:0 220px; }
  .thumbnails { gap:200px; padding-top:240px; }
  .timeline-svg { top: 72%;
    width: 99%;
    left: 16%; }
  .timeline-card { left:96%; font-size:clamp(18px,3.8vw,52px); }
}
@media (min-width: 2400px) and (max-width: 25072px) {
  .timeline-svg {
    top: 72%;
    width: 99%;
    left: 15.7%;
  }
}
@media (min-width:2560px) {
  .timeline-scroll-wrapper { margin:120px; height:68vh; }
  .thumbnails-track { padding:0 260px; }
  .thumbnails { gap:240px; padding-top:280px; }
  .timeline-svg { top:74%; width:108%; left:26%; }
  .timeline-card { left:96%; font-size:clamp(18px,3.8vw,56px); }
}

  
  @media (max-width: 768px) {
    .timeline-scroll-wrapper {
      margin: 40px 16px;
    }
    .timeline-svg {
      position: absolute;
      top: 70%;
      width: 420%;
      height: 100;
      left: 40%;
      z-index: 1;
    }
    .thumbnails-track {
      display: flex;
      flex-direction: row;
      height: 40vh;
      align-items: center;
      padding: 0 80px;
      will-change: transform;
      position: relative;
      z-index: 2;
    }
  }