.header {
    position: relative;
    min-height: 80vh;
    color: white;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

  }
  
  .header-content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  
  .header-subtitle {
    max-width: 700px;
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 30px;
  }
  
  .header-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .wallet-btn  {
    width: 165px;
    height: 48px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 2rem;
    border: none;
    position: relative;
    background: #1F1F1F;
    transition: 0.1s;
    border: 1.5px solid #FFF;
  }
  
  .wallet-btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from 61deg at 52.47% 52.87%, #E5483E 50.19230604171753deg, #3A81D3 154.0384590625763deg, #2CA061 226.73077583312988deg, #F3B01B 313.2692241668701deg);
    filter: blur(10px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .wallet-btn:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
  }
  
  .secondary-btn {
    padding: 12px 24px;
    border: 1px solid #aaa;
    border-radius: 9999px;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .secondary-btn:hover {
    background: white;
    color: black;
  }
  
  .badge-container {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .badge {
    width: 32px;
    height: 32px;
    background: white;
    color: red;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .countdown-timer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .countdown-box {
    background-color: #00ffae;
    color: black;
    padding: 10px 16px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 0 0 8px #00ffae50;
  }
  
  .countdown-box div {
    font-size: 1.5rem;
  }
  
  .countdown-box span {
    display: block;
    font-size: 0.7rem;
    margin-top: 4px;
  }
  @media (max-width: 768px) {
    .header-title {
      font-size: 2.0rem;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 1.3;
    }
      .header {

        min-height: 40vh;
 
      }
    
  }