.token-info-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #1afc85;
  border-top: 2px solid #fff;
  border-radius: 12px;
  padding: 0;
  color: #fff;
  overflow: hidden;
  margin: 80px 12%;
  box-shadow: 0 0 30px rgba(57, 255, 136, 0.3);
}

.token-info-left {
  position: relative;
  flex: 1;
  min-width: 45%;
  padding: 40px 30px;
  overflow: hidden;
}

.token-info-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.token-info-content-overlay {
  position: relative;
  z-index: 2;
}

.token-info-icon-wrapper {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.token-info-icon-wrapper img {
  width: 100%;
}
.token-info-icon {
  color: #0dba76;
  font-weight: bold;
  font-size: 24px;
}

.token-info-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.token-info-text p {
  margin: 4px 0;
}

.token-info-chart {
  border-radius: 0 12px 12px 0;
  padding: 24px;
  color: #000;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.chart-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .token-info-container {
    margin: 40px 16px;
    flex-direction: column;
  }
  .chart-body {
    width: 90%;
  }
  .token-info-chart {
    width: 100%;
  }
  /* .token-info-chart {
      width: 100%;
    } */
}
